.about-page {
    padding: 100px;
    h1 {
        font-size: 3rem;
        font-weight: 400;
        color: black;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2;
        margin-bottom: 1.2rem;
    }
}
